In [2]:
##Write a Python Program to accept the details of a student like name, roll number 
##and mark and display it

a=input("Enter the name:")
b=int(input("Enter the roll number:"))
c=int(input("Enter the mark:"))
print('Name:',a)
print ('Roll No:',b)
print('Mark:',c)

Enter the name:ashish
Enter the roll number:09
Enter the mark:45
Name: ashish
Roll No: 9
Mark: 45

In [3]:
 ##Write a Python program to convert temperatures to and from Celsius 
##Fahrenheit.
celcius=int(input("Temperature in Celcius:"))
print("Fahrenheit = ",1.8*celcius+32)
Fahrenheit=int(input("Temperature in Fahrenheit:"))
print("Celcius = ",(Fahrenheit-32)*(5/9))

Temperature in Celcius:5
Fahrenheit =  41.0
Temperature in Fahrenheit:41
Celcius =  5.0

In [4]:
## Write a Python program to accept two numbers from the user and display
##its product.
numa= int(input("First Number :"))
numb= int(input("Second Number :"))
print("Product: ",numa*numb)

First Number :5
Second Number :6
Product:  30


##Write a Python program to accept a string “Learn Python by Developing a
##Website” and display the string like “Learn**Python** by Developing a
##**Website**”
learnp=input("Type your Text:")
print(learnp[0:5]+'**'+learnp[6:12]+'**'+learnp[13:28]+'**'+learnp[29:36]+'**')

In [6]:
##Write a Python program to accept the radius of a circle and display its area.
from math import pi
r = float(input ("Input the radius of the circle : "))

print("Area of the circle with radius" ,r ,"is " ,pi*r**2)

Input the radius of the circle : 6
Area of the circle with radius 6.0 is  113.09733552923255

In [7]:
##Python program to insert a number to any position in a list 
lista=[1,2,3,4,5,6,7]
print (lista)
number=input("Number to Insert:")
position = int(input("Position to insert :"))
lista.insert(position,number)
print (lista)

[1, 2, 3, 4, 5, 6, 7]
Number to Insert:11
Position to insert :3
[1, 2, 3, '11', 4, 5, 6, 7]

In [8]:
 ##Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

print (sample_dict)
sample_dict["location"]= sample_dict.pop("city")
print (sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}
{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [9]:
##Write a Python program to change Brad’s salary to 8500 in the following 
##dictionary
sample_dict1 = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
print(sample_dict1)
sample_dict1['emp2']['salary']=8500
print(sample_dict1)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8500}, 'emp3': {'name': 'Brad', 'salary': 500}}

In [10]:
## Write a program to copy elements 43 and 54 from the following tuple into a 
##new tuple.
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2=tuple1[2:4]
print(tuple2)

(43, 54)

In [11]:
## Counts the number of occurrences of item 50 from a tuple


tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
print(tuple1.count(50))

3

In [12]:
## Write a Python program to accept a string “Learn Python by Developing a
##Website” and display the string like “Learn**Python** by Developing a
##**Website**”

learnp=input("Type your Text:")
print(learnp[0:5]+'**'+learnp[6:12]+'**'+learnp[13:28]+'**'+learnp[29:36]+'**')

Type your Text:Learn Python by Developing a Website
Learn**Python**by Developing a**Website**